{{ define "main" }}
    <!-- Variables -->
    {{ $fitness_banner_image := "/images/fitness banner.jpg" }}
    <!-- Variables end -->
    <section class="section-40 section-md-60 section-lg-90 section-xl-120 bg-gray-dark page-title-wrap overlay-5 custom-bg-image" style="background-image: url({{$fitness_banner_image}});">
        <div class="container">
            <div class="page-title text-center">
                <h2>Welcome to the Blog</h2>
            </div>
        </div>
    </section>
        <div class="section-50 section-md-75 section-xl-100 novi-background bg-cover bg-default">
            <div class="container">
                <div class="row row-fix justify-content-md-center">
                    <div class="col-xl-10 post-classic-wrap">
                        <article class="post-classic">
                            <div class="post-media">
                                <figure><img src="{{ .Params.image }}" alt="" width="971" height="649"></figure>
                            </div>
                            <div class="post-main">
                                <div class="post-info"><img src="/images/blogshot.jpg" alt="" width="113" height="113">
                                    <h6 class="post-author">{{.Params.author}}</h6>
                                </div>
                                <div class="post-body" style="color: black;">
                                    <h3>{{.Params.title}}</h3>
                                    <p style="color: black;">{{ .Content }}</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <a class="button button-icon button-icon-right button-primary big" data-caption-animate="fadeInUp" data-caption-delay="250" href="/free_assessment"><span class="icon icon-xs fa-angle-right"></span>Click Here to Get Started</a>
                </div>
            </div>
        </div>
{{ end }}