<!-- Variables -->
{{ $fitness_banner_image := "/images/fitness banner.jpg" }}
<!-- Variables end -->
<section class="section-40 section-md-60 section-lg-90 section-xl-120 bg-gray-dark page-title-wrap overlay-5 custom-bg-image" style="background-image: url({{$fitness_banner_image}});">
    <div class="container">
        <div class="page-title text-center">
            <h2>Welcome to the Blog</h2>
        </div>
    </div>
</section>
<div class="section-50 section-md-75 section-xl-100 novi-background bg-cover bg-default">
    <div class="container">
        <div class="row row-fix justify-content-md-center">
            <div class="col-xl-10 post-classic-wrap">
                <article class="post-classic">
                    <div class="post-media">
                        <figure><a href="/the_cure_for_modern_life"><img src="/images/blogphoto2.jpg" alt="" width="971" height="649"></a></figure>
                    </div>
                    <div class="post-main">
                        <div class="post-info"><img src="/images/blogshot.jpg" alt="" width="113" height="113">
                            <h6 class="post-author">Bryce Hamilton</h6>
                        </div>
                        <div class="post-body">
                            <h4><a href="/the_cure_for_modern_life">The Cure for Modern Life</a></h4>
                            <p class="text-gray-05">Picture this: You wake up in the morning and groggily reach for your phone, instantly bombarded by a deluge of notifications. As you navigate through your day, you find yourself sitting at your desk, hunched over a screen for hours on end. Meetings, presentations, and deadlines keep you tethered to your seat, as the world outside passes by unnoticed. The only physical activity you get is the brief walk from your car to the office, and even that feels like a fleeting moment.</p>
                            <div class="post-footer">
                                <ul class="post-meta">
                                    <li class="object-inline"><span class="icon novi-icon icon-xxs icon-black material-icons-event"></span><time class="text-gray-05" datetime="2018-06-17">05/16/2023</time></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="post-classic">
                    <div class="post-media">
                        <figure><a href="/unlocking_the_power_of_a_nutritional_plan"><img src="/images/blogphoto1.jpg" alt="" width="971" height="649"></a></figure>
                    </div>
                    <div class="post-main">
                        <div class="post-info"><img src="/images/blogshot.jpg" alt="" width="113" height="113">
                            <h6 class="post-author">Bryce Hamilton</h6>
                        </div>
                        <div class="post-body">
                            <h4><a href="/unlocking_the_power_of_a_nutritional_plan">Unlocking the Power of a Nutritional Plan</a></h4>
                            <p class="text-gray-05">Are you tired of starting your week with lofty health goals, only to find yourself face-first in a bag of chips by Wednesday? It's time to break free from this vicious cycle and discover the secret to maintaining a healthy lifestyle, even when life gets crazy. In this eye-opening article, we'll explore the importance of having a well-crafted nutritional plan and how it can save you from becoming a hangry monster during those hectic weeks.</p>
                            <div class="post-footer">
                                <ul class="post-meta">
                                    <li class="object-inline"><span class="icon novi-icon icon-xxs icon-black material-icons-event"></span><time class="text-gray-05" datetime="2018-06-17">05/08/2023</time></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </article>
                <div class="pagination-custom-wrap text-center" style="display: none;">
                    <ul class="pagination-custom">
                        <li><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>