<!-- Confirmation Variables -->

{{ $thanks := "Thanks For Reaching Out" }}
{{ $thanks2 := "You Can Expect To Hear Back From Us Within Two Business Days." }}
{{ $thanks3 := "We Look Forward To Speaking With You Soon!" }}


<!-- Confirmations Variables End -->

<section class="section-60 section-md-80 section-lg-90 section-md-bottom-90 bg-default novi-background bg-cover">
    <div class="container text-center">
        <h2>{{$thanks}}</h2>
        <h3>{{$thanks2}}</h3>
        <h3>{{$thanks3}}</h3>
    </div>
</section>