<!-- Variables -->
{{ $fitness_banner_image := "/images/fitness banner.jpg" }}
<!-- Variables end -->

<section class="section-40 section-md-60 section-lg-90 section-xl-120 bg-gray-dark page-title-wrap overlay-5 custom-bg-image" style="background-image: url({{$fitness_banner_image}});">
    <div class="container">
        <div class="page-title text-center">
            <h2>{{.Get `get_started_section_1_title`}}</h2>
            <h3>{{.Get `get_started_section_1_subtitle`}}</h3>
            <h4>{{.Get `get_started_section_1_subtitle2`}}</h4>
        </div>
    </div>
</section>

<section class="section-60 section-md-top-90 section-md-bottom-100 novi-background bg-whisperapprox bg-cover">
    <iframe 
          src="https://link.webnertia.com/widget/form/oq5YfZIbOrIFeqiqjvUu" 
          style="width:100%;height:100%;border:none;border-radius:4px"
          id="inline-oq5YfZIbOrIFeqiqjvUu" 
        data-layout="{'id':'INLINE'}"
        data-trigger-type="alwaysShow"
        data-trigger-value=""
        data-activation-type="alwaysActivated"
        data-activation-value=""
        data-deactivation-type="neverDeactivate"
        data-deactivation-value=""
        data-form-name="Discovery Call Claim"
        data-height="575"
        data-layout-iframe-id="inline-oq5YfZIbOrIFeqiqjvUu"
        data-form-id="oq5YfZIbOrIFeqiqjvUu"
        title="Discovery Call Claim"
      >
        </iframe>
        <script src="https://link.webnertia.com/js/form_embed.js"></script>
      
</section>