<!-- Variables -->
{{ $fitness_banner_image := "/images/fitness banner.jpg" }}
<!-- Variables end -->
<section class="section-40 section-md-60 section-lg-90 section-xl-120 bg-gray-dark page-title-wrap overlay-5 custom-bg-image" style="background-image: url({{$fitness_banner_image}});">
    <div class="container">
        <div class="page-title text-center">
            <h2>Coaching Application</h2>
        </div>
    </div>
</section>
<section>
        <script type="text/javascript" async src="https://static.zcal.co/embed/v1/embed.js"></script>
<div class="zcal-inline-widget"><a href="https://zcal.co/i/Ztqtaojj">Free Assessment - Schedule a meeting</a></div>
</section>